<table class="table movietable">
    <tr>
        <td><h3>Details for {{event._id}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Event Type</td>
        <td>{{event.type}}</td>
    </tr>
    <tr>
        <td>Sequence ID</td>
        <td>{{event.sequenceID}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{event.description}}</td>
    </tr>
    <tr>
        <td>TransactionID</td>
        <td>{{event.transactionID}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editEvent({id:event._id})">Edit</a>
</div>